/*公共样式*/
/*头部*/
.header{
    font-size: 0.45rem;
    color: #666;
    background: gold;
    text-align: center;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
}
.header .back{
    /* width:  30px; */
    /* height:  30px; */
    /* font-size: 42px; */
    float:  left;
}
.header .title{
    display:  inline-block;
    /* font-size:  40px; */
}
.header .delete{
    float:  right;
    /* font-size: 40px; */
}
/*商品列表*/
.shop_list{
    background: #fff;
}
.shop_list .shop{color: #666;}
.shop_list .shop .shop_info{
    overflow:  hidden;
    line-height: 65px;
    border-top: 1px solid rgba(51,51,51,.2);
    border-bottom: 1px solid rgba(51,51,51,.2);
}
.shop .shop_info .left{
    display:  inline-block;
    margin-left: 20px;
}
.shop .shop_info .left .radio{
    width: .5rem;
    height: 0.5rem;
    border-radius: .5rem;
    background: #ec3f6c;
    float:  left;
    margin-top: 0.33rem;
    margin-right: .2rem;
}
.shop_info .left .shopname{
    display:  inline-block;
    font-size: .3rem;
    font-weight: 500;
}
.shop .shop_info{}
.shop .shop_info .right{
    display:  inline-block;
    float:  right;
    margin-right: 20px;
}
.shop_info .right .total{
    display:  inline-block;
    font-size: .3rem;
    color:  gray;
}
.shop_info .right .up{
    display:  inline-block;
    font-size: 0.5rem;
    /* line-height: 52px; */
    float:  right;
}
/*商品信息*/
.goods_info{
    overflow:  hidden;
    padding: 0.2rem;
}
.goods_info .radio{
    width: .5rem;
    height: .5rem;
    border-radius: 30px;
    background: #ec3f6c;
    margin-right: .2rem;
    margin-top: .5rem;
    float:  left;
}
.goods_info img{
    display:  inline-block;
    width:  20%;
    height: 70px;
    background:  red;
    float:  left;
}
.goods_dtails{
    display:  inline-block;
    font-size: 0.25rem;
    float: left;
}
.goods_dtails .goods_title{color: #666;}
.goods_dtails .color{
    font-size: .2rem;
    color: #999;
}
.goods_dtails .size{
    font-size: .2rem;
    color: #999;
}
.goods_dtails .counter{}
.goods_dtails .counter .reduce{
    display:  inline-block;
    width: .5rem;
    height: .5rem;
    text-align:  center;
    font-size: 20px;
    border:  red solid;
}
.goods_dtails .counter .number{
    width: .8rem;
    height: .5rem;
    border: red solid;
    font-size: .5rem;
    text-align:  center;
}
.goods_dtails .counter .plus{
    display:  inline-block;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    text-align: center;
    font-size: 20px;
    border: red solid;
}
.goods_info .total{
    display:  inline-block;
    text-align: right;
    float: right;
    position:  relative;
}
.goods_info .delete_goods{
    width: .5rem;
    height:  .5rem;
    background: red;
    position: absolute;
    top: .8rem;
    right: 0;
}
.goods_info .total .old{
    /* display:  inline-block; */
    text-decoration:  line-through;
    color: #999;
}
/*失效商品列表*/
.invalid_goodslist{
    width: 90%;
    margin:  0 auto;
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
    opacity: .7;
}
.invalid_goodslist li {
    width:  100%;
    overflow:  hidden;
    padding: .2rem;
    border-top: 1px solid rgba(51,51,51,.2);
}
.invalid_goodslist img{
    display: inline-block;
    width: 20%;
    height: 100px;
    background: red;
    float: left;
}
.invalid_goodslist .goods_title{}
.invalid_goodslist .color{}
.invalid_goodslist .size{}
.invalid_goodslist .delete_goods{}
/*结算模块*/
.account{
    width:  100%;
    max-width: 750px;
    /* height:  80px; */
    padding: .2rem;
    position:  fixed;
    bottom:  0px;
    background: #fff;
    border-top: 1px solid rgba(51,51,51,.2);
    text-align:  center;
}
.account .left{
    font-size: 20px;
    float:  left;
}
.account .left .radio{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #ec3f6c;
}
.account .middle{
    display:  inline-block;
}
.account .middle .all{
    font-size: .25rem;
    text-align:  left;
}
.account .middle .all .text{
    color: #999;
}
.account .go_buy{
    width: 25%;
    height: .6rem;
    line-height: .6rem;
    font-size: .25rem;
    border-radius: 3px;
    color: #fff;
    background: #E91E63;
    float:  right;
    margin-right: 0.4rem;
}