
/*è½®æ’­å›¾*/
.banner{
    width:  100%;
    background: #977112;
}
.banner img{
    width:  100%;
    height:  auto;
}
/*ä¸»å¯¼èˆª*/
.main_nav{
    width:  100%;
    min-width: 320px;
    height: auto;
    text-align:  center;
}
.main_nav ul{

width: 100%;

display:  inline-block;
}
.main_nav ul li{
    display:  inline-block;
    width: 21%;
    height: auto;
}
.main_nav ul li +li{
    margin-left: 12px;
}
.main_nav ul li .nav_icon{
    width: 100%;
    border-radius: 111px;
}
.main_nav ul li .nav_icon img{
    width: 100%;
    height: auto;
}
.main_nav ul li .nav_text{display: block;text-align:  center;font-size:  .25rem;}
/*ç§’æ€æ¨¡å—*/
.seckill_nav{
    width:  100%;
    overflow:  hidden;
    /* height:  66px; */
    margin-top: 15px;
    padding:  .2rem;
}
.seckill_nav li +li{
    margin-left: 10%;
}
.seckill_nav .today{
    padding-bottom  height: 0;
    width: 8%;
    height:  0px;
    padding-bottom: 9%;
    background:  honeydew;
    float:  left;
    background: url("../images/today.png");
    background-size: 100% 100%;
}
.seckill_nav .time_point{
    height:  50px;
    color: #E91E63;
    float:  left;
    text-align:  center;
    font-size: .3rem;
}
.seckill_nav .time{}
.seckill_nav .text{
    font-size: .2rem;
}
.seckill_nav .tomorrow{
    width: 8%;
    height:  0px;
    padding-bottom: 9%;
    background: saddlebrown;
    float: left;
    background: url("../images/yesterday.png");
    background-size: 100% 100%;
}
/*ç§’æ€å•†å“åˆ—è¡¨*/
.seckill_goodslist{
    /* margin-top: 38px; */
    background:  cornflowerblue;
}
.seckill_header{
    width: 100%;
    /* height:  30px; */
    background: bisque;
    float:  left;
}
.seckill_header .seckill_title{
    font-size: .25rem;
    line-height:  0.5rem;
}
.seckill_header .seckill_endtime{
    background:  chartreuse;
    border-radius: 10px;
    float:  right;
    margin-top: -20px;
    margin-right: 20px;
    font-size:  .2rem;
    line-height: 0.4rem;
    padding-left: .2rem;
    padding-right: .2rem;
}
.seckill_endtime .endtime_icon{
    width:  20px;
    height:  20px;
    background:  darkcyan;
    float:  left;
    margin-left: 5px;
}
.seckill_endtime span{}
.seckill_endtime .timer{
    float:  right;
}
.seckill_goodslist ul li{
    width:  100%;
    overflow:  hidden;
}
.seckill_goodslist .goods_img{
    width: 30%;
    /*height: 0;*/
    /*padding-top: 30%;*/
    float:  left;
    margin-right: 10px;
   /* background: url(../picture/g2.jpg);
    background-size: 100% 100%;*/
}
.seckill_goodslist .goods_img img{
    width: 100%;
    height: auto;
}
.seckill_goodslist .goods_title{
    font-size: .35rem;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
..seckill_goodslist .price{}
..seckill_goodslist .buyinfo{}
.seckill_goodslist .new_price{
    display:  inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
    position:  relative;
    font-size: .25rem;
}
.seckill_goodslist .new_price .price_text{
    display:  inline-block;
}
.seckill_goodslist .old_price{
    display:  inline-block;
    margin-bottom: 15px;
    position:  relative;
    font-size:  .25rem;
}
.seckill_goodslist .old_price .price_text{
    display:  inline-block;
}
.seckill_goodslist .only{
    display: inline-block;
    /* width: 35%; */
    /* max-width: 150px; */
    text-align:  center;
    float:  left;
    border-radius:  10px;
    background:  gainsboro;
    font-size: .25rem;
    line-height: .25rem;
    padding: .2rem;
}
.seckill_goodslist .only .bg{}
.seckill_goodslist .only .text{
    font-size:  .25rem;
}
.seckill_goodslist .buy_now{
    display:  inline-block;
    /* width: 25%; */
    /* max-width: 100px; */
    /* height:  30px; */
    border-radius: 10px;
    background:  goldenrod;
    float:  right;
    text-align:  center;
    margin-right: 20px;
    font-size: .25rem;
    line-height: .25rem;
    padding: .2rem;
}

/*æœ¬å‘¨æµè¡Œ*/
.week_popular{
    text-align:  center;
}
.week_popular .title{
    display: block;
    font-size:  .35rem;
    font-weight:  bold;
    line-height: 1.2rem;
}
.week_popular ul{
    width: 100%;
    overflow: hidden;
}
.week_popular ul li{
    float:  left;
    width: 20%;
    text-align:  center;
    margin-left: 4%;
    font-size: 10px;
}
.week_popular ul li.left{
    margin-left: 0px;
}
.week_popular ul li .nav_icon{
    display:  inline-block;
    width:  100%;
    height: 0px;
    padding-top: 100%;
    background: url("../images/k2.png");
    background-size: 100% 100%;
}
.week_popular ul li .nav_text{
    font-size: .25rem;
    line-height: .5rem;
    margin-bottom: .3rem;
}
.week_popular .more{
    font-size: .25rem;
    margin-bottom: .2rem;
}
.week_popular .more span{
}
/*æŽ¨è*/
.recommend{}
.recommend .recommend_nav{
    width:  100%;
    /* height:  50px; */
    background:  chocolate;
    text-align:  center;
}
.recommend .recommend_nav ul{
    display: inline-block;
}
.recommend .recommend_nav ul li{
    display: block;
    font-size: .35rem;
    line-height: .7rem;
    float:  left;
}
.recommend .recommend_nav ul li + li {
    margin-left: 50px;
}
.recommend .recommend_goods_list{
    overflow:  hidden;
}
.recommend .recommend_goods_list ul li{
    width:  48%;
    float:  left;
    margin-right: 2%;
    text-align:  center;
}
.recommend .recommend_goods_list ul li .img{
    width:  100%;
}
.recommend .recommend_goods_list ul li .img img{
    width:  100%;
    height:  auto;
}
.recommend .recommend_goods_list ul li .goods_title{
    font-size: .22rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.recommend .recommend_goods_list ul li .info{
    display:  inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.recommend .recommend_goods_list .info .now_price{
    display:  inline-block;
}
.recommend .recommend_goods_list .info .connect{
    display:  inline-block;
}
.recommend .recommend_goods_list .info .connect span{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../images/collect.png");
}