
/*轮播图*/
.banner{
    width:  100%;
    background: #977112;
}
.banner img{
    width:  100%;
    height:  auto;
}
/*主导航*/
.main_nav{
    width:  100%;
    min-width: 320px;
    height: auto;
    text-align:  center;
}
.main_nav ul{

width: 100%;

display:  inline-block;
}
.main_nav ul li{
    display:  inline-block;
    width: 21%;
    height: auto;
}
.main_nav ul li +li{
    margin-left: 12px;
}
.main_nav ul li .nav_icon{
    width: 100%;
    border-radius: 111px;
}
.main_nav ul li .nav_icon img{
    width: 100%;
    height: auto;
}
.main_nav ul li .nav_text{display: block;text-align:  center;}
/*秒杀模块*/
.seckill_nav{
    width:  100%;
    height:  66px;
    margin-top: 30px;
}
.seckill_nav .today{
    padding-bottom  height: 0;
    width: 8%;
    height:  0px;
    padding-bottom: 9%;
    background:  honeydew;
    float:  left;
    background: url("../images/today.png");
    background-size: 100% 100%;
}
.seckill_nav .time_point{
    height:  50px;
    color: #E91E63;
    float:  left;
    margin-left:  10px;
    margin-right: 10px;
    text-align:  center;
}
.seckill_nav .time{}
.seckill_nav .text{}
.seckill_nav .tomorrow{
    width: 8%;
    height:  0px;
    padding-bottom: 9%;
    background: saddlebrown;
    float: left;
    background: url("../images/yesterday.png");
    background-size: 100% 100%;
}
/*秒杀商品列表*/
.seckill_goodslist{
    margin-top: 38px;
    background:  cornflowerblue;
}
.seckill_header{
    width: 100%;
    height:  30px;
    background: bisque;
    float:  left;
}
.seckill_header .seckill_title{}
.seckill_header .seckill_endtime{
    background:  chartreuse;
    border-radius: 10px;
    float:  right;
    margin-top: -15px;
    margin-right: 20px;
}
.seckill_endtime .endtime_icon{
    width:  20px;
    height:  20px;
    background:  darkcyan;
    float:  left;
    margin-left: 5px;
}
.seckill_endtime span{}
.seckill_endtime .timer{
    float:  right;
}
.seckill_goodslist ul li{
    width:  100%;
    overflow:  hidden;
}
.seckill_goodslist .goods_img{
    width: 30%;
    height: 200px;
    float:  left;
    margin-right: 10px;
}
.seckill_goodslist .goods_title{
    font-size: 20px;
    margin-bottom: 15px;
}
..seckill_goodslist .price{}
..seckill_goodslist .buyinfo{}
.seckill_goodslist .new_price{
    display:  inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
    position:  relative;
}
.seckill_goodslist .new_price .price_text{
    display:  inline-block;
}
.seckill_goodslist .old_price{
    display:  inline-block;
    margin-bottom: 15px;
    position:  relative;
}
.seckill_goodslist .old_price .price_text{
    display:  inline-block;
}
.seckill_goodslist .only{
    display: inline-block;
    width: 35%;
    max-width: 150px;
    text-align:  center;
    height:  30px;
    float:  left;
    border-radius:  10px;
    background:  gainsboro;
}
.seckill_goodslist .only .bg{}
.seckill_goodslist .only .text{}
.seckill_goodslist .buy_now{
    display:  inline-block;
    width: 25%;
    max-width: 100px;
    height:  30px;
    border-radius: 10px;
    background:  goldenrod;
    float:  right;
    text-align:  center;
    margin-right: 20px;
}

/*本周流行*/
.week_popular{
    text-align:  center;
}
.week_popular .title{
    display: block;
}
.week_popular ul{
    width: 100%;
    overflow: hidden;
}
.week_popular ul li{
    float:  left;
    width: 20%;
    text-align:  center;
    margin-left: 4%;
    font-size: 10px;
}
.week_popular ul li.left{
    margin-left: 0px;
}
.week_popular ul li .nav_icon{
    display:  inline-block;
    width:  100%;
    height: 50px;
    background: url("../images/k2.png");
    background-size: 100% 100%;
}
.week_popular ul li .nav_text{}
.week_popular .more{}
.week_popular .more span{}
/*推荐*/
.recommend{}
.recommend .recommend_nav{
    width:  100%;
    height:  50px;
    background:  chocolate;
    text-align:  center;
}
.recommend .recommend_nav ul{
    display: inline-block;
}
.recommend .recommend_nav ul li{
    display: block;
    line-height: 50px;
    float:  left;
}
.recommend .recommend_nav ul li + li {
    margin-left: 50px;
}
.recommend .recommend_goods_list{
    overflow:  hidden;
}
.recommend .recommend_goods_list ul li{
    width:  48%;
    float:  left;
    margin-right: 2%;
    text-align:  center;
}
.recommend .recommend_goods_list ul li .img{
    width:  100%;
}
.recommend .recommend_goods_list ul li .img img{
    width:  100%;
    height:  auto;
}
.recommend .recommend_goods_list ul li .goods_title{}
.recommend .recommend_goods_list ul li .info{
    display:  inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.recommend .recommend_goods_list .info .now_price{
    display:  inline-block;
}
.recommend .recommend_goods_list .info .connect{
    display:  inline-block;
}
.recommend .recommend_goods_list .info .connect span{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../images/collect.png");
}